*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	text-align: center;
}

.container {
	margin: 0 auto;
	height: 100vh;
	background: #e6e6e6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.grid {
	background: white; 
	width: 420px;
	height: 420px;
	display: flex;
	flex-wrap: wrap;
}

.grid div {
	width: 15px;
	height: 15px;
}

.pac-dot {
	background-color: green;
	border: 5px solid white;
	box-sizing: border-box;
}

.wall {
	background-color: blue;
}

.power-pellet {
	background-color: green;
	border-radius: 50%;
}

.pacman {
	background-color: orange;
	border-radius: 7.5px;
	border: none
}

.ghost-lair {
	background: #dddddd;
}

/* Ghosts */

.blinky,
.pinky,
.inky,
.clyde {
	border: none;
}

.blinky {
	background: red;
}

.pinky {
	background: pink;
}

.inky {
	background: aqua;
}

.clyde {
	background: orange;
}

.scared-ghost {
	background: aquamarine;
}